<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>
  <div fxHide.lt-md>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span translate>Home</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span translate>About</span>
    </button>
    <button mat-button routerLink="/login" routerLinkActive="active">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
  </div>
  <span fxFlex></span>
  <app-language-selector icon="true"></app-language-selector>
</mat-toolbar>
